# Database connection
DB_HOST = Server Name
DB_PORT = Port Number
DB_NAME = Database Name
DB_USER = User
DB_PASSWORD = Passwornd
DB_DRIVER = ODBC Driver 18 for SQL Server

# Database where we save the results
DB_NAME_2 = Second Database name where the results are being storaged.

